*{
  font-family: Arial;
}
header{
	background: black;
}
.container-section h2,a{
	display:inline-block;
	margin-top:5px;
	margin-bottom: 20px;
}
.container-section {
	background: #d3d3d3;
	border-bottom: 3px outset #a9a9a9;
	padding: 10px;
	margin-bottom: 30px;
}
.link-fgr{
	font-size: 15px;
	position: relative;
	left:60px;
}

.fotg{
	width: 100%;
	border: 3px double white;
}
a{
	text-decoration: none;
	color:blue;
}
nav a{
	color:white;
	font-size: 15px;
	margin-top:40px;
	margin-left: 27px;
}
.logo{
	width: 40%;
	margin-left:25px;
}
.container-contenido{
	margin:38px;
}

.container-contenido img{
	width: 100%;
	border: 4px double #d3d3d3;
}
.container-contenido a{
	font-size: 12px;
	text-align: center;
}
.sidebar img{
	width: 10%;
}
.sidebar p{
	font-size: 12px;
	display: inline-block;
}
.sidebar a{
	text-align: inherit;
	display: inline-block;
}
footer{
	background: gray;
	width: 100%;
}
.footer{



}
footer p{
	color: white;
	font-size: 15px;
	text-align: center;
	margin:20px;
}
footer.footer .link-foot a{
	font-size: 13px;
	float: left;
	text-align: center;
	color:#d3d3d3;
}

